.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #ffffff;
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 4px;
  border-radius: 25px;
  cursor: pointer;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler .top-bar {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
          transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
          transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

@media only screen and (max-width: 990px) {
  #navbarSupportedContent1 {
    background: rgba(0, 0, 0, 0.596);
    border-radius: 25px;
  }
}

header {
  width: 100%;
  height: 85vh;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header .hero {
  width: 100%;
  height: 60vh;
}

/*........................................................................................................*/
/*......................................... About-US .....................................................*/
/*........................................................................................................*/
.service {
  width: 100%;
  height: auto;
}

.service__shape {
  position: absolute;
  width: 100%;
  height: 35vh;
  background: #ffffff;
  -webkit-clip-path: ellipse(62% 50% at 50% 50%);
          clip-path: ellipse(62% 50% at 50% 50%);
}

.service__list {
  position: relative;
  margin-top: -125px;
  width: 85%;
  height: auto;
  background: #ffffff;
  border: none;
  -webkit-box-shadow: -1px 4px 78px rgba(161, 63, 63, 0.19);
          box-shadow: -1px 4px 78px rgba(161, 63, 63, 0.19);
  border-radius: 22px;
}

.service__list__item {
  opacity: 40%;
}

@media only screen and (max-width: 600px) {
  .hero-text h1 {
    font-size: 32px;
  }
  .hero-text h3 {
    font-size: 20px;
  }
  .service__shape {
    position: absolute;
    width: 100%;
    height: 35vh;
    background: #ffffff;
    -webkit-clip-path: ellipse(70% 42% at 50% 50%);
            clip-path: ellipse(70% 42% at 50% 50%);
    -webkit-transition: .5 ease-out;
    transition: .5 ease-out;
  }
  .service__list {
    position: relative;
    margin-top: -175px;
    width: 75%;
    height: auto;
    background: #ffffff;
    border: none;
    -webkit-box-shadow: -1px 4px 78px rgba(161, 63, 63, 0.19);
            box-shadow: -1px 4px 78px rgba(161, 63, 63, 0.19);
    border-radius: 22px;
  }
  .service__list__item {
    opacity: 40%;
  }
}

.about-us {
  margin-top: 100px;
}

.about-us__title {
  color: #194866;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: bold;
}

.about-us__description {
  margin-top: 20px;
  color: #194866;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: normal;
  opacity: 59%;
  line-height: 34px;
  letter-spacing: 0.13em;
}

.about-us__CTA {
  margin-top: 20px;
}

.about-us__CTA img {
  position: absolute;
  margin-top: 17px;
  margin-left: 10px;
  max-width: 155px;
}

.about-us__CTA h3 {
  cursor: pointer;
  position: relative;
  color: #194866;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: bold;
}

.about-us__illustration img {
  width: auto;
  height: 305px;
}
/*# sourceMappingURL=style.css.map */