@mixin colorFont($color , $size , $weight){
  color : $color;
  font-family : 'Roboto', sans-serif;
  font-size : $size;
  font-weight: $weight;
}
.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: #ffffff;
	display: block;
	transition: all 0.2s;
  margin-top: 4px;
  border-radius: 25px;

  }

  button:focus {
    outline: 1px dotted;
    outline: none -webkit-focus-ring-color;
}
 
.navbar-toggler {
  border: none;
  background: transparent !important;

}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.navbar-toggler .middle-bar {
  opacity: 0;
}
 
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

@include media-breakpoint-up(lg)  {
  #navbarSupportedContent1{
  background: rgba(0, 0, 0, 0.596) ;
  border-radius: 25px;
  .navlink{
    
  }
}}
header{
  width: 100%;
  height: 85vh;
  background-image: url(../img/hero.svg);
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: center;
  .hero{
    width: 100%;
      height: 60vh;
      // &-text{
      //   margin-left: auto;
      //   margin-right: auto;
      // }
  }
}

/*........................................................................................................*/
/*......................................... About-US .....................................................*/
/*........................................................................................................*/

.service{
  width: 100%;
  height: auto;
  &__shape{

    position: absolute;
    width: 100%;
    height: 35vh;
    background: #ffffff;
    clip-path: ellipse(62% 50% at 50% 50%);
  }

  &__list{
    position: relative;
    margin-top: -125px;
    width: 85%;
    height: auto;
    background: #ffffff;
    border: none;
    box-shadow: -1px 4px 78px rgba(161, 63, 63, 0.19);
    border-radius: 22px;
    &__item{      
        opacity: 40%; 
        // padding-right: 85px;
        // border-right: 3px solid rgba(80, 80, 80, 0.19);
        // &:nth-child(4){
        //   padding-right: 0px;
        //   border: none;
        // }
    }

  }
}

// @include media-breakpoint-up(md)  {
//   .hero-text{
//     h1{
//       font-size: 32px;
//     }
//     h3{
//       font-size: 20px;
//     }   
//   }
  .service{
  
    &__shape{

      position: absolute;
      width: 100%;
      height: 35vh;
      background: #ffffff;
      clip-path: ellipse(70% 42% at 50% 50%);
      transition: .5 ease-out;
    }
  
    &__list{
      position: relative;
      margin-top: -175px;
      width: 75%;
      height: auto;
      background: #ffffff;
      border: none;
      box-shadow: -1px 4px 78px rgba(161, 63, 63, 0.19);
      border-radius: 22px;
      &__item{      
          opacity: 40%; 
          // padding-right: 85px;
          // border-right: 3px solid rgba(80, 80, 80, 0.19);
          // &:nth-child(4){
          //   padding-right: 0px;
          //   border: none;
          // }
      }
  
    }
  }


.about-us{
  margin-top: 100px;
  &__title{
    @include colorFont(#194866, 48px , bold);
  }
  &__description{
    margin-top: 20px;
    @include colorFont(#194866, 20px , normal);
    line-height: 34px;
    letter-spacing: 0.13em;
  }
  &__CTA{
    margin-top: 20px;
    img{
      position: absolute;
      margin-top: 17px;
      margin-left: 10px;
      max-width: 155px;
    }
    h3{
      cursor: pointer;
      position: relative;
      @include colorFont(#194866, 26px , bold)
    }
  }
  &__illustration{
    img{
      width: auto;
      height: 305px;
    }
  }
}

@include media-breakpoint-up(lg) { 

 }